@font-face{
    font-family: Metropolis;
    src: url("../fonts/Metropolis-Regular.woff") format("woof"),
    url("../fonts/Metropolis-Regular.woff2") format("woff2"),
    url("../fonts/Metropolis-SemiBold.woff") format("woff"),
    url("../fonts/Metropolis-SemiBold.woff2") format("woff2"),
    url("../fonts/Metropolis-Bold.woff") format("woff"),
    url("../fonts/Metropolis-Bold.woff2") format("woff2");
}

body {
    font-family: "Metropolis";
}

a {
    color: #5F4B8B;
}

a:hover {
    color: #443664;
}

.header .icon {
    margin-bottom: 40px;
}

.header .icon img {
    width: 135px;
    height: 50px;
}

.header .message {
    margin-bottom: 50px;
}

.header .message span {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}

.switch .btn {
    width: 123px;
    height: 48px;
    margin-bottom: 40px;
}

.switch .btn.btn-primary {
    border-radius: 4px 0px 0px 4px;
}

.switch .btn.btn-secondary {
    border-radius: 0px 4px 4px 0px;
}

.btn-primary {
    background-color: #5F4B8B;
    color: #ffffff;
    border-width: 0;
}

.btn-secondary {
    background-color: #ffffff;
    color: #9B9B9B;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #443664;
}

.auth {
    width: 400px;
}

.auth .form-group {
    margin: 0;
}

.auth .input.name {
    margin-bottom: 16px;
}

.auth .input.pass {
    margin-bottom: 26px;
}

.auth .input input {
    height: 48px;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    padding: 0 20px;
}

.auth .forgot-link {
    margin-bottom: 26px;
}

.auth .button .btn {
    height: 48px;
    border-radius: 25px;
    margin-bottom: 40px;
}

.navbar {
    padding: 0;
    height: 100px;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
    background-color: #ffffff;
}

.navbar .navbar-wrapper {
    margin: 0 100px;
}

.navbar .navbar-wrapper .search-wrapper {
    margin-left: 60px;
}

.navbar .navbar-wrapper .search-wrapper .searchbar input {
    width: 507px;
    height: 40px;
    border: 1px solid #8E8E93;
    border-radius: 23px;
    padding: 0 20px;
}

.navbar .navbar-wrapper .search-wrapper .searchbar .search {
    right: 20px;
}

.navbar .navbar-wrapper .search-wrapper .filter {
    margin-left: 11px;
}

.navbar .navbar-wrapper .search-wrapper .filter button {
    width: 40px;
    height: 40px;
    border: 1px solid #8E8E93;
    border-radius: 12px;
    background-color: #ffffff;
}

.navbar .navbar-wrapper .search-wrapper .filter button:focus {
    outline: none;
}

.navbar .navbar-wrapper .nav .cart {
    margin-right: 41px;
}

.navbar .navbar-wrapper .nav .btn {
    width: 100px;
    height: 36px;
    border-radius: 25px;
}

.navbar .navbar-wrapper .nav .signup {
    margin-left: 20px;
}

.slider-wrapper {
    margin: 0 100px;
    margin-top: 50px;
    position: relative;
}

.slider-wrapper .slider img {
    border-radius: 8px;
}

.slider-wrapper .slider .half img {
    width: 69px;
    height: 180px;
}

.slider-wrapper .slider .full {
    position: relative;
}

.slider-wrapper .slider .full img {
    width: 456px;
    height: 180px;
}

.slider-wrapper .slider .full .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 31px;
    color: #ffffff;
}

.slider-wrapper .arrow .btn {
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(181, 181, 181, 0.25);
    border-radius: 50% 50%;
    padding: 10px 10px;
    position: absolute;
}

.slider-wrapper .arrow .btn.prev {
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .arrow .btn.next {
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .arrow .btn.next img {
    transform: rotate(180deg);
}

.slider-wrapper .arrow img {
    width: 32px;
    height: 32px;
    left: 0;
}

.slider-wrapper .indicator {
    margin-top: 20px;
    position: absolute;
}

.slider-wrapper .indicator .item {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #eaeaea;
    border-radius: 50% 50%;
}

.slider-wrapper .indicator .item.active {
    background-color: #8E8A8A;
}

.category {
    margin: 0 100px;
    margin-top: 80px;
}

.category .title h1 {
    margin: 0;
    font-size: 34px;
}

.category .title span {
    color: #9B9B9B;
    font-size: 12px;
}

.category .item-wrapper {
    margin-top: 30px;
}

.category .item-wrapper .item {
    width: 206px;
    height: 220px;
    border-radius: 8px;
    border-width: 0;
}

.category .item-wrapper .item span {
    font-size: 30px;
    color: #ffffff;
}

.category .item-wrapper .item.one {
    background-color: #CC0B04;
}

.category .item-wrapper .item.two {
    background-color: #1C3391;
}

.category .item-wrapper .item.three {
    background-color: #F67B02;
}

.category .item-wrapper .item.four {
    background-color: #E31F51;
}

.category .item-wrapper .item.five {
    background-color: #57CD9E;
}

.category .item-wrapper .btn.next {
    width: 52px;
    height: 52px;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(181, 181, 181, 0.25);
    border-radius: 50% 50%;
    padding: 10px 10px;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.category .item-wrapper .btn.next img {
    transform: rotate(180deg);
    width: 32px;
    height: 32px;
    left: 0;
}

.new-product {
    margin: 50px 100px;
}

.new-product .title h1 {
    margin: 0;
    font-size: 34px;
}

.new-product .title span {
    color: #9B9B9B;
    font-size: 12px;
}

.new-product .item-wrapper {
    margin-top: 25px;
}

.new-product .item-wrapper .item {
    width: 208px;
    height: 278px;
    box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
    border-radius: 8px;
}

.new-product .item-wrapper .item .pict img {
    object-fit: fill;
    border-radius: 8px 8px 0 0;
}

.new-product .item-wrapper .item .desc {
    margin: 0 12px;
    margin-top: 10px;
}

.new-product .item-wrapper .item .desc .name {
    height: 48px;
}

.new-product .item-wrapper .item .desc .name span {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.new-product .item-wrapper .item .desc .price {
    height: 16px;
    margin-top: 6px;
}

.new-product .item-wrapper .item .desc .price span {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #5F4B8B;
}

.new-product .item-wrapper .item .desc .store {
    height: 12px;
    margin-top: 6px;
}

.new-product .item-wrapper .item .desc .store span {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #9B9B9B;
}

.new-product .item-wrapper .item .desc .rating {
    height: 14px;
    margin-top: 10px;
}

.new-product .item-wrapper .item .desc .rating .star {
    margin-right: 2px;
}

.new-product .item-wrapper .item .desc .rating .sell span {
    font-size: 10px;
    line-height: 8px;
    color: #9B9B9B;
}